<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>控制面板主页</title>
  <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"> -->
  <!-- <link rel="stylesheet" href="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" /> -->
  <!-- <link rel="stylesheet" href="../css/page.css"> -->
    <!--引入本地css样式-->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/main.css" />
  <!--引入网页图标-->
  <link rel="icon" href="/static/img/主页.svg" type="image/x-icon" />

  <!-- <style>
    /* 样式 */
    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-body {
        width: 100%;
    }

    form {
        width: 100%;
    }

    .form-label,
    .form-control,
    .btn {
        width: 100%;
        margin-bottom: 10px;
    }

    .btn-primary {
        color: #fff;
        background-color: #007bff;
        border-color: #007bff;
    }
</style> -->

</head>
<body>
<!-- 消息提醒框 -->
<div id="toast"></div>
<!-- 控制面板 -->
<div style="display: flex;flex-direction: row;">
  <div class="col-md-2" id="sidebar" style="background-color: #293042; padding: 0%; display: flex; flex-direction: column;height: 100vh;">
    <div style="display: flex; align-items: center; height: 55px; justify-content: center;margin-top: 5px;">
      <img src="/static/img/ram访问控制.svg" alt="图标" style="width: 40px; height: 40px; font-size: 12pt;">
      <p style="color: white; font-size: 12pt; margin: 0; cursor: default;">OlinePanel</p>
    </div>
  
    <div class="left-div">
      <a href="/homepage" class="left-font">
        <img src="/static/img/wxb主页.svg" alt="概览面板" class="left-img">
        概览面板
      </a>
    </div>
  
    <div class="left-div">
      <a href="/devices" class="left-font">
        <img src="/static/img/设备状态.svg" alt="设备控制" class="left-img">
        设备控制
      </a>
    </div>
  
    <div class="left-div">
      <a href="/datacheck" class="left-font">
        <img src="/static/img/储存.svg" alt="数据访问" class="left-img">
        数据访问
      </a>
    </div>
  
    <div class="left-div">
      <a href="/network" class="left-font">
        <img src="/static/img/网络.svg" alt="网络状态" class="left-img">
        网络状态
      </a>
    </div>
  
    <div class="left-div">
      <a href="/packstore" class="left-font">
        <img src="/static/img/all.svg" alt="插件商店" class="left-img">
        插件商店
      </a>
    </div>
  
    <div class="left-div">
      <a href="/plantasks" class="left-font">
        <img src="/static/img/计划.svg" alt="计划任务" class="left-img">
        计划任务
      </a>
    </div>
  
    <div class="left-div">
      <a href="/panelset" class="left-font">
        <img src="/static/img/iconfont-jixieqimo.svg" alt="面板设置" class="left-img">
        面板设置
      </a>
    </div>
  
    <div class="left-div">
      <a href="javascript:void(0)" onclick="logout()" class="left-font" id="logout-btn">
        <img src="/static/img/退出.svg" alt="退出登录" class="left-img">
        退出登录
      </a>
    </div>
  </div>

  <!-- 主体内容 -->
  <div class="col-md-10" id="content" style="background-color: transparent;padding: 0%;">
    <!--下面是导航栏-->
    <div style="display: flex; text-align: center; align-items: center; height: 60px; width: 100%; background-color: #ffffff;box-shadow: 0 2px 8px rgba(77, 60, 60, 0.2);">
      <button id="sidebarToggle" class="icon-button" style="background-color: transparent; border: none; height: 60px; width: 60px;margin-left: 5px;">
        <img src="/static/img/功能常态2.svg" alt="Control Icon" style="height: 30px; width: 30px;" />
      </button>
    
      <div style="display: flex; align-items: center; margin-left: 8pt;height: 35px; padding: 5px; border-radius: 3px; border: 1px solid #f3f6fb;background-color: #f3f6fb;outline: none;">
        <input type="text" placeholder="搜索" style="height: 35px; padding: 5px; border-radius: 3px; border: 1px solid #f3f6fb;background-color: #f3f6fb;outline: none;">
        <button style="background-color: transparent; border: none; height: 30px; width: 30px; margin-left: 5px;">
          <img src="/static/img/wxb搜索推广.svg" alt="Search Icon" style="height: 30px; width: 30px;">
        </button>
      </div>

      <div class="dropdown transparent-dropdown" style="display: flex;flex-direction: row; position: relative; margin-left: auto; margin-right: 25px; background-color: transparent">
        <!--消息及红点提醒-->
        <button class="message-icon" style="background-color: transparent; border: none; outline: none;">
          <img src="/static/img/消息.svg" alt="message" style="height: 30px; width: 30px; border-radius: 50%;">
        </button>
        <p style="font-size: small;margin: 1vw 5px;cursor: default;" id="accountID"></p>
        <!--头像-->
        <button style="background-color: transparent;color:#293042; border: none; outline: none;" class="btn btn-secondary dropdown-toggle" type="button" id="avatarDropdown" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="/static/img/head.jpeg" alt="User Avatar" style="height: 40px; width: 40px; border-radius: 50%;">
        </button>
        <!--下拉菜单-->
        <ul style="font-size: small;" class="dropdown-menu" aria-labelledby="avatarDropdown">
          <li><a class="dropdown-item" href="/userinfo">用户信息</a></li>
          <li><a class="dropdown-item" href="/repassword">修改密码</a></li>
          <li><a class="dropdown-item" href="#">关于项目</a></li>
          <li><a class="dropdown-item" href="javascript:void(0)" onclick="logout()">退出登录</a></li>
        </ul>
      </div>
    </div>
    
    <!--下面是主窗口-->
    <div style="padding: 10px;margin: 8px;height: 45vw;">
      
        <div id="repassword" class="card">
          <div class="card-header">
              修改密码
          </div>
          <div class="card-body" style="align-items: center; justify-content: center;width: 40vw;">
              <form id="passwordForm">
                  <div class="mb-3">
                      <label for="newPassword" class="form-label">新密码</label>
                      <input type="password" class="form-control" id="newPassword" required>
                  </div>
                  <div class="mb-3">
                      <label for="confirmPassword" class="form-label">确认密码</label>
                      <input type="password" class="form-control" id="confirmPassword" required>
                  </div>
                  <button type="submit" class="btn btn-primary">提交</button>
              </form>
          </div>
      </div>
          

    </div>

  </div>
</div>
    <script>
        //页面加载完成事件
        window.addEventListener('load', function() {
        const pElement = document.getElementById('accountID');
        const username = getCookieValue('username');
        if (username) {
            // 检查是否为数字
            const parsedUsername = isNaN(username) ? username.slice(1, -1) : username;

            pElement.textContent = '你好！' + parsedUsername;
        } else {
            pElement.textContent = '你好！';
        }
        });

        function getCookieValue(cookieName) {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            if (cookie.startsWith(cookieName + '=')) {
            const value = decodeURIComponent(cookie.substring(cookieName.length + 1));
            return value;
            }
        }
        return null;
        }



        //更新密码部分
        // 点击提交按钮时的处理函数
    document.getElementById("passwordForm").addEventListener("submit", function(event) {
        event.preventDefault(); // 阻止表单默认提交行为

        var newPassword = document.getElementById("newPassword").value;
        var confirmPassword = document.getElementById("confirmPassword").value;

        if (newPassword !== confirmPassword) {
            showToast("错误，两次输入的密码不一致");
        } else {
            var accountId = document.getElementById("accountID").innerText.replace("你好！", "");//获取用户名
            updatePassword(accountId, newPassword);
        }
    });

    // 显示消息弹窗函数
    const toast = document.getElementById('toast');
    function showToast(message) {
    toast.textContent = message;
    toast.style.opacity = 1;
    toast.style.visibility = 'visible';

    setTimeout(function() {
        toast.style.opacity = 0;
        toast.style.visibility = 'hidden';
    }, 3000);
    }

    function updatePassword(username, newPassword) {
    var apiUrl = "/update_password";
    var requestData = {
        account_name: username,
        new_password: newPassword
    };

    fetch(apiUrl, {
        method: "POST",
        headers: {
            "Content-Type": "application/json"
        },
        body: JSON.stringify(requestData)
    })
    .then(response => response.json())
    .then(data => {
        showToast(data.message);
        
        // 清空输入框
        clearInputFields();
        // 延迟5秒后返回首页
        setTimeout(() => {
            window.location.href = "/homepage";
        }, 5000);
    })
    .catch(error => {
        showToast(error.message);
    });
    }
    function clearInputFields() {
        document.getElementById('newPassword').value = '';
        document.getElementById('confirmPassword').value = '';
    }

    //确认用户是否退出
    function logout() {
        if (confirm("确定要退出吗？")) {
            window.location.href = "/logout";
        }
    }
    
    //左侧页面是否弹出
    //控制弹窗的功能
    var sidebar = document.getElementById('sidebar');
    var content = document.getElementById('content');
    var sidebarToggle = document.getElementById('sidebarToggle');
    //调整左边控制面板图标的亮度
    // 获取具有“left-font”类的所有元素
    const buttons = document.getElementsByClassName('left-font');

    // 为每个按钮添加鼠标移入和移出事件的监听器
    Array.from(buttons).forEach(function(button) {
      button.addEventListener('mouseover', function() {
        button.style.filter = 'brightness(1.5)';
      });

      button.addEventListener('mouseout', function() {
        button.style.filter = 'brightness(0.8)';
      });
    });

    // 页面加载时判断是否需要隐藏控制面板
    if (window.innerWidth < 992) {
      sidebar.style.display = 'none';
      content.classList.remove('col-md-9');
      content.classList.add('col-md-12');
    }

    // 监听窗口大小变化事件，根据当前宽度调整布局
    window.addEventListener('resize', function () {
      if (window.innerWidth < 992) {
        sidebar.style.display = 'none';
        content.classList.remove('col-md-9');
        content.classList.add('col-md-12');
      } else {
        sidebar.style.display = 'block';
        content.classList.remove('col-md-12');
        content.classList.add('col-md-9');
      }
    });

    // 点击按钮弹出/隐藏控制面板
    sidebarToggle.addEventListener('click', function () {
      if (sidebar.style.display === 'none') {
        sidebar.style.display = 'block';
        content.classList.remove('col-md-12');
        content.classList.add('col-md-9');
      } else {
        sidebar.style.display = 'none';
        content.classList.remove('col-md-9');
        content.classList.add('col-md-12');
      }
    });




    </script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script> -->
  <!-- <script src="https://cdn.bootcdn.net/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> -->
  <!--引用本地 js-->
  <script src="/static/js/chart.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/bootstrap.bundle.min.js"></script>
  <script src="/static/js/main.js"></script>
</body>


</html>
